html {
    font-family: ".AppleSystemUIFont", sans-serif;
}

.window_outer {
    width: 400px !important;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    border: 2px solid darkgrey;

    background-size: 100%;
    background-color: ghostwhite;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 auto;
    transform: translate(-50%, -50%);
}
.window_inner {
}

.window_outer:hover {
    cursor: grab;
}
.window_outer:active {
    cursor: grabbing;
}

.title_container {
    display: flex;
}
input {
    min-width: 0;
}
.ticker {
    height: 25px;
    letter-spacing: 1px;
    flex: 2 1 0;

    padding-left: 5px;

    border-style: ridge;
    border-width: .5px;

    text-transform: uppercase;
}
.ticker:focus {
    outline: none;
}
.title {
    font-weight: normal;
    font-size: 16px;

    margin: 5px 5px 5px 5px;
    flex: 10 1 0;
}
#widget_container {
}
.widget_container_right {
    float: right;
    width: 66%;

    display: flex;
    text-align: center;
}
.widget {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;

    margin: 2px 0 2px 0;
    flex: 1 1 0;
}

.chart_container {

}
.chart {
    width: 400px;
}

h3 {
    padding-right:30px;
    color: red;

    font-weight: 400;
    font-size: 12px;
}

.time {
    display: none;
}

.flex-container {
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.subtitle {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 80%;

    border-bottom-color: #6C6C6C;
    border-right-color: #6C6C6C;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;

    color: #1c3060;
    flex: 2 1 0;
}

.offset {
    /*border: 1px solid royalblue;*/
    flex: 4 1 0;
}

.buttonOffset {
    flex: 4 1 0;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 80%;

    border-bottom-color: #6C6C6C;
    border-right-color: #6C6C6C;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;

    margin-left: 2px;

    color: #1c3060;
    flex: 1 1 0;

}

.subtitle:hover, .button:hover, .info:hover {
    cursor:pointer;
    color: darkred;
}

.subtitle:active, .button:active {
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-top-color: #6C6C6C;
    border-left-color: #6C6C6C;

    border-top-style: inset;
    border-left-style: inset;

}

.info{
    display: none;
    transform: translate(0%, 0%);
    margin: 0px 4px auto auto;

    line-height: 26px;
    text-align: center;
    border: 2px solid #444;
    border-radius: 50% 50%;

    cursor: default;
    flex: 1 1 0;
    z-index: 1;
}

.info:before{
    content:'?';
    font-family: sans-serif;
    font-weight: normal;
    color: black;

}

.info:hover p{
    display:block;
    transform-origin: 100% 0;
    -webkit-animation: fadeIn 0.3s ease;
    animation: fadeIn 0.3s ease;
}

.info p {
    display: none;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background-color: ghostwhite;
    padding: 12px 16px;
    width: 178px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    border-radius: 3px;

    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    color: #37393D;
    font-size: 12px;
    line-height: 18px;
}

.info p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: ghostwhite;
    top: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info p:after {
    width: 10px;
    height: 40px;
    content:'';
    position: absolute;
    top: -40px;
    left: 0;
}

@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

.window_outer:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: '';
    background: black;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 60300ms;
}

.window_outer:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: '';
    background: black;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 60200ms;
}

.window_inner:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: '';
    background: black;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 60100ms;
}

.window_inner:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: '';
    background: black;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 60000ms;
}

.window_outer:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
}

.window_outer:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
}

.window_outer:hover .window_inner:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
}

.window_outer:hover .window_inner:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
}